ContosoOrderTrigger/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_Order": {
                "inputs": {
                    "body": "@outputs('Create_Order_Request')",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "retryPolicy": {
                        "type": "none"
                    },
                    "uri": "https://davephelpsapim.azure-api.net/contoso/order"
                },
                "runAfter": {
                    "Create_Order_Request": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {
                    "orderId": "@action()?['inputs'].body.request.orderID",
                    "productName": "@action()?['inputs'].body.request.productDetails.Name"
                },
                "type": "Http"
            },
            "Create_Order_Request": {
                "inputs": {
                    "request": "@body('Parse_Request')",
                    "stockLevel": "@body('Get_Stock').stockLevel"
                },
                "runAfter": {
                    "Get_Stock": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {},
                "type": "Compose"
            },
            "Get_Stock": {
                "inputs": {
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://davephelpsapim.azure-api.net/contoso/order"
                },
                "runAfter": {
                    "Parse_Request": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Http"
            },
            "Parse_Request": {
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "properties": {
                            "contactDetails": {
                                "properties": {
                                    "home": {
                                        "type": "string"
                                    },
                                    "mobile": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "deliveryAddress": {
                                "properties": {
                                    "houseNumber": {
                                        "type": "string"
                                    },
                                    "postCode": {
                                        "type": "string"
                                    },
                                    "streetName": {
                                        "type": "string"
                                    },
                                    "town": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "forenames": {
                                "type": "string"
                            },
                            "orderDetails": {
                                "properties": {
                                    "priority": {
                                        "type": "string"
                                    },
                                    "quantity": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "orderID": {
                                "type": "string"
                            },
                            "productDetails": {
                                "properties": {
                                    "Colour": {
                                        "type": "string"
                                    },
                                    "Id": {
                                        "type": "string"
                                    },
                                    "Name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "surname": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {},
                "trackedProperties": {},
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Create_Order": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}